:root {
	--default-spacing: 24px;
	--content-width: 900px;
	--grid-cell-count: 4;
	--grid-cell-size: calc(var(--content-width) / var(--grid-cell-count));
}

/* ---------------------------------- */

body {
	background-color: black;
	background-repeat: repeat;
	background-attachment: fixed;
	
	margin: 0 auto;
	max-width: var(--content-width);
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
	font-family: "Space Mono", monospace;
}
@media screen and (min-width: 900px) {
	body { font-size: 10pt; }
}
@media screen and (max-width: 900px) {
	body { font-size: 8pt; }
}

p, h2, h3, li {
	color: rgb(227, 227, 227);

	padding: 0;
	margin: 0;
}

a, a:link, a:visited {
	color: rgb(155, 155, 155);
	text-decoration: none;
}
a:hover, a:active {
	color: darkgray;
	text-decoration: underline;
}

/* ---------------------------------- */

header, footer {
	height: calc(var(--grid-cell-size) / 4);
	padding: var(--default-spacing);

	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}
header, footer, main, .clean-main {
	background-color: Black;
}
@media screen and (min-width: 900px) {
	body {
		background-position-x: center;
		background-position-y: top;
	}

	header, .clean-main {
		margin-top: var(--default-spacing);
	}
	footer, .clean-main {
		margin-bottom: var(--default-spacing);
	}
}
@media screen and (max-width: 900px) {
	body {
		background-image: none;
	}

	header, .clean-main {
		margin-top: 0px;
	}
	footer, .clean-main {
		margin-bottom: 0px;
	}
}

.grid {
	display: grid;
	gap: 0;
}
@media screen and (min-width: 900px) {
	.grid {
		grid-template-columns: repeat(var(--grid-cell-count), var(--grid-cell-size));
		grid-auto-rows: minmax(var(--grid-cell-size), auto);
	}
}
@media screen and (max-width: 900px) {
	.grid {
		grid-template-columns: repeat(calc(var(--grid-cell-count) / 2), 1fr);
		grid-auto-rows: minmax(var(--grid-cell-size), auto);
	}
}

.grid > div, .grid > a {
	padding: var(--default-spacing);

	background-repeat: repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
	image-rendering: pixelated;
}

.grid-cell-1x2 { grid-column: span 2; }
@media screen and (min-width: 900px) {
	.grid-cell-1x2-const { grid-column: span 2; }
	.grid-cell-1x3 { grid-column: span 3; }
	.grid-cell-1x4 { grid-column: span 4; }
}
@media screen and (max-width: 900px) {
	.grid-cell-1x2-const { grid-column: span 1; }
	.grid-cell-1x3 { grid-column: span 1; }
	.grid-cell-1x4 { grid-column: span 2; }
}

.grid-cell-centered {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.grid-cell-draker-bg {
	background-color: rgba(0, 0, 0, 0.5); 
	background-blend-mode: multiply;
}

/* ---------------------------------- */

.screenshot-reel, .screenshot-reel-big {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}
.screenshot-reel img {
	height: var(--grid-cell-size);
	scroll-snap-align: center;
}
.screenshot-reel-big img {
	height: calc(var(--grid-cell-size) * 2);
	scroll-snap-align: center;
}