@import "base.css";

body {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: none;
}
    
.card {
    background-color: black;
}

@media screen and (min-width: 900px) {
    body {
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 900px;
    }
}

@media screen and (max-width: 900px) {
    body {
        justify-content: start;
        align-items: start;
    }

    .card {
        width: 100%;
    }
}
