{% extends "base.html" %}

{% block title %}The C.G.C. 1{% endblock %}
{% block description %}Tales from the "Lucas' Computer Game Collection. Vol 1."{% endblock %}

{% block background %}bg_cgc_b.png{% endblock %}

{% block content %}
<img src="/cgc-1.png" class="header-deco" style="max-height: 200px; padding: 24px;">

<p style="text-align: center;">Imagine you're burried alive, what things would be floating around in your head while you are waiting for your demise?</p>

<p>This is a collection of 5 games made through 2025, all of these titles contain experimental takes on different genres, from action to simulation, from horror to puzzle, dive into these wierd games, fall in love or hate every detail of the worlds and characters, no in-betweens, twee and brutal are the only available feelings here.</p>

<br>

<div class="proj-alt" style="background-image: url('/project_bloodloss.png');">
    <div class="proj-desc-alt">
        <h2>Blood Loss</h2>
        <p><i>"It's in our heartbeats."</i><p>
        <p>Control, oppress and consume the blood of your enemies to win this arena.</p>
        <p>Inside a depression in the middle of a desert a blind soldier holds a special power: blood manipulation. Control, oppress and consume the blood of your enemies to win this arena amidst the world comes to an end.</p>
        <ul>
            <li>Music by <a href="https://soundcloud.com/theaurumguy">OKMO</a></li>
        </ul>
        <br>
        <a href="https://play.google.com/store/apps/details?id=com.kognum.nietzsche"><img src="https://img.itch.zone/aW1nLzU5MTY1MzIucG5n/original/amrHm4.png" class="header-deco"></a>
    </div>
</div>

<br>

<div class="proj-alt" style="background-image: url('/project_tidalhell.png');">
    <div class="proj-desc-alt">
        <h2>Tidal Hell</h2>
        <p><i>"Shoot first, apoligize later."</i><p>
        <p>A zero-player game where you make weapons and watch solders fight.</p>
        <p>Tidal Hell is a anti-war zero-player simulation game where you engineer weapons and send off your pawns to the battlefield and watch them fight. You gain more resources each time your team wins a round. Good luck, you'll need it.</p>
        <ul>
            <li>Music by <a href="https://jarrencristmusic.com/">Jarren Crist</a></li>
        </ul>
        <br>
        <a href="https://play.google.com/store/apps/details?id=com.kognum.wargames"><img src="https://img.itch.zone/aW1nLzU5MTY1MzIucG5n/original/amrHm4.png" class="header-deco"></a>
    </div>
</div>

<br>

<div class="proj-alt" style="background-image: url('/project_castration.png');">
    <div class="proj-desc-alt">
        <h2>Castration</h2>
        <p><i>"There are only dormitories."</i><p>
        <p>Complex enemy AI inside a reality bending prison.</p>
        <p>With controls that are out of the ordinary, the enemies also demonstrate complex behaviors that are only understood if you pay close attention to your surroundings. You can't make out if you're awake or still dreaming, reality is twisted around this far away prison with eyes around every corner and your biggest hope is to make it out in one peace.</p>
        <ul>
            <li>Additional game design by <a href="https://grand-ed.itch.io/">grand_ed</a></li>
        </ul>
        <br>
        <a href="https://play.google.com/store/apps/details?id=com.kognum.caledonia"><img src="https://img.itch.zone/aW1nLzU5MTY1MzIucG5n/original/amrHm4.png" class="header-deco"></a>
    </div>
</div>

<br>

<div class="proj-alt" style="background-image: url('/project_fullmetalsyncope.png');">
    <div class="proj-desc-alt">
        <h2>Full Metal Syncope</h2>
        <p><i>"People are graveyards."</i></p>
        <p>Explore this surreal world. Meet, greet & scream at it's residents.</p>
        <p>Floating islands inside a virtual landscape, post-post-modern writing & retro visuals assemble this part visual novel, part fps game. Dive in, walk, talk, scream. Gather points, but for what purpose? no one is really sure. Don't forget to beware, the horse is the white of the eyes and the dark within.</p>
        <ul>
            <li>Music by <a href="https://jarrencristmusic.com/">Jarren Crist</a></li>
        </ul>
        <br>
        <a href="https://play.google.com/store/apps/details?id=com.kognum.amianto"><img src="https://img.itch.zone/aW1nLzU5MTY1MzIucG5n/original/amrHm4.png" class="header-deco"></a>
    </div>
</div>

<br>

<div class="proj" style="background-image: url('/project_gift_alt_1.jpg'); background-size: 100vw auto; background-attachment: local;">
    <div class="proj-desc-centered">
        <h2>Did you like Full Metal Syncope?</h2>
        <p><a href="https://play.google.com/store/apps/details?id=com.ahopness.gift">Also give <b>GIFT</b> a try.</a></p>
    </div>
</div>

<br>

<div class="proj-alt" style="background-image: url('/bg_cgc_a.png'); background-repeat: repeat;">
    <div class="proj-desc-alt">
        <h2>NeuroDIVE</h2>
        <p><i>"The natural order of everything is chaos."</i></p>
        <p>Next up. Coming soon.</p>
    </div>
</div>
{% endblock %}
