{% extends "clean.html" %}

{% block title %}Home{% endblock %}
{% block description %}Art nerd. Software wizard. Writing enjoyer. Personal site. Work catalogue.{% endblock %}

{% block background %}wood.png{% endblock %}

{% block content %}

<div style="padding: 0; background-image: url('/index/avatar.jpg'); background-size: cover;">
</div>
<div>
    <h2>Welcome to <a href="/">lucasangelo.dev</a></h2>
</div>
<a href="/about/" style="background-image: url('/backgrounds/dust.png');">
    <h2>About</h2>
</a>
<a href="/links/" style="background-image: url('/backgrounds/grass.png');">
    <h2>Links</h2>
</a>

<div class="grid-cell-1x4 grid-cell-centered">
    <h2>Projects</h2>
</div>

<a href="/cgc-1/" class="grid-cell-1x2-const" style="background-image: url('/backgrounds/marble.png');">
    <h2>Lucas' Computer Game Collection Vol. 1</h2>
</a>
<a href="/gift/" class="grid-cell-1x2-const" style="background-image: url('/backgrounds/concrete.png');">
    <h2>GIFT: post mortem inquest</h2>
</a>
<a href="https://kognum.com" class="grid-cell-1x2-const" style="background-image: url('/backgrounds/stone.png');">
    <h2>KOGNUM</h2>
</a>
<a href="/old-trash/" class="grid-cell-1x2-const" style="background-image: url('/backgrounds/tarp.png');">
    <h2>Old Trash</h2>
</a>

<div class="grid-cell-1x4 grid-cell-centered">
    <p>
        <a href="https://github.com/ahopness/website">[Fork this website]</a>
        <a href="mailto:dev.lucas.angelo@gmail.com" style="padding: 0 8px;">[Get in touch]</a>
        <a href="/privacy-policy/">[Privacy Policy]</a>
    </p>
    <p>&copy; 2025 Lucas Ângelo. All rights reserved. (jk)</p>
</div>

{% endblock %}
