{% extends "standard.html" %}

{% block title %}My Personal Trashcan{% endblock %}
{% block description %}(Hyper)Old and abandoned projects.{% endblock %}

{% block background %}tarp.png{% endblock %}

{% block content %}

<div class="grid-cell-centered">
    <img src="https://blob.gifcities.org/gifcities/32IBKJMQY7E6UO4ZIWTU5MJ37M7IKRJJ.gif" style="width: 32px;">
</div>
<div class="grid-cell-1x3">
    <h2>Old <s>Projects</s> Trash</h2>
    <p>Last updated: June 2026</p>
</div>

<div class="grid-cell-1x4">
    <p>This is a collection of experiments i've made over the years. All of them are really rough around the edge, but i still think they are worth sharing, <i>beware the wonkyness</i>.</p>
    <br>
    <p><b>WARNING: </b>Feel free to download and explore the trashcan, but keep in mind that all of these are not maintained and may not work on modern systems.</p>
</div>

<div class="grid-cell-1x4 grid-cell-draker-bg" style="background-image: url('/old-trash/juno.png');">
    <h2>Juno (2025)</h2>
    <p>Link aggregation social media app (a.k.a. basic RSS client), made for research. Inpired by Gnome Circle & Linux Mint apps.</p>
    <p>Made so i could learn about various tech stacks, including Avaloinia, GTK3, GTK4 and Flutter (unreleased branch, might release it some day).</p>
    <br>
    <p><a href="https://github.com/ahopness/Juno">LINK TO REPOSITORY + DONWLOAD</a></p>
</div>

<div class="grid-cell-1x4 grid-cell-draker-bg" style="background-image: url('/old-trash/farsolita.png');">
    <h2>Far Solita: [Think/Again] (2023)</h2>
    <p>Post-Modern Scream Simulator</p>
    <p>Scream at things, talk to poeple, gather points, its' as simple as that. Walking action sim game made over a weekend as a personal <i>game jam</i> challenge. Made with Godot 3.</p>
    <br>
    <p><s>LINK TO ITCH.IO PAGE + DONWLOAD</s> <b>(UNAVAILABLE UNTIL FURTHER NOTICE, SRY)</b></p>
    <p><a href="/cgc-1/">LINK TO THE REMAKE OF THIS PROJECT</a> (PLAY <i>Full Metal Syncope</i> INSTEAD, IT'S MUCH BETTER)</p>
</div>

<div class="grid-cell-1x4 grid-cell-draker-bg" style="background-image: url('/old-trash/lumus.png');">
    <h2>Lumus (2021)</h2>
    <p>You are Dara, the latest experiment made out of the Abu'Dah species, enslaved, cloned to immortality and genetically modified by the intergalactic megacorporate empire, you're put into a fight against their defense forces while destroying energy draining machines at the world's end, the revolution starts now. Lumus Watches.</p>
    <p>My first game jam project, made with folks that i still have close to my heat to this day, we are even working on another project togheter (go check <a href="https://kognum.com">KOGNUM</a> out). This project was made in Godot 3 for the late <i>Game Jaaj</i> jam.</p>
    <br>
    <p><a href="https://grand-ed.itch.io/lumus">LINK TO ITCH.IO PAGE + DONWLOAD</a></p>
</div>

<div class="grid-cell-1x4" style="background-image: url('/old-trash/theunknown.png');">
    <h2>The Unknown (2019)</h2>
    <p>The Unknown is an experimental horror game. You control Jacob, a young adult that has several mental health problems. Some days ago Jacob's brother died, but he doesn't feel any grief about it.</p>
    <p>My first game, made with Unity this time, it's just a trash'y PT clone with a twist. Funningly enough i still believe 13-year-old Lucas was onto something with this and i still grab some ideas and inspos from this project to this day.</p>
    <br>
    <p><s>LINK TO ITCH.IO PAGE + DONWLOAD</s> <b>(UNAVAILABLE UNTIL FURTHER NOTICE, SRY)</b></p>
</div>
{% endblock %}
