<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		
		<meta property="og:type" content="website">
		<meta name="twitter:card" content="summary_large_image">
		
		<title>Lucas Ângelo // <!-- TITLE --></title>
		<meta property="og:title" content="Lucas Ângelo // <!-- TITLE -->">
		<meta name="twitter:title" content="Lucas Ângelo // <!-- TITLE -->">
    		
		<meta name="description" content="art nerd. software wizard. dotnet enjoyer. personal website. work catalogue." />
		<meta property="og:description" content="art nerd. software wizard. dotnet enjoyer. personal website. work catalogue.">
		<meta name="twitter:description" content="art nerd. software wizard. dotnet enjoyer. personal website. work catalogue.">
		
		<link rel="icon" href="/favicon.png" sizes="any">
		<meta property="og:image" content="/favicon.png" />
		<meta name="twitter:image" content="/favicon.png"> 
	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="art nerd. software wizard. dotnet enjoyer. personal website. work catalogue." />
		<meta name="robots" content="index" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<meta name="darkreader-lock">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" href="/card.css">
		<style>
			@media screen and (min-width: 900px) {
				body {
					background-image: url("/<!-- BACKGROUND -->");
				}
			}
		</style>
	</head>
	<body>
		<div class="card">
			<!-- CONTENT -->
		</div>
  	</body>
</html>
